body {
  font-family: 'Open Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --paragraph-color: #777;
  --transition: 0.3s;
}
/* same level for all section */
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* frequent style */
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.hstyle {
  width: fit-content;
  margin: auto;
  font-size: 40px;
  color: black;
  font-weight: normal;
  position: relative;
  text-transform: uppercase;
}
.hstyle + P {
  max-width: 450px;
  margin: 50px auto 100px auto;
  text-align: center;
  line-height: 1.8;
  color: var(--paragraph-color);
}
.hstyle::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 60%;
  bottom: -25px;
  left: 20%;
  background-color: black;
}
.hstyle::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  bottom: -30px;
  left: 50%;
  transform: translatex(-50%);
  z-index: 1;
}
/* end main rules */

/* start landing */
.landing {
  height: 100vh;
  background: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
    url('../static/landing.jpg');
  background-size: cover;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  width: calc(100% - 40px);
  bottom: 0px;
  left: 20px;
}
header .container img {
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 35px 0px;
}
header .container nav .links {
  width: 20px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  padding-right: 15px;
}
header .container nav .links span {
  width: 100%;
  height: 2px;
  background-color: white;
}
header .container nav .links span:not(:last-of-type) {
  margin-bottom: 5px;
}
header .container nav i {
  color: white;
  padding-left: 15px;
  font-size: 20px;
  border-left: 1px solid white;
}
header .container nav ul {
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background: rgb(0 0 0 / 50%);
  display: none;
  z-index: 2;
}
header .container nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px;
}
header .container nav ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav .links:hover + ul {
  display: flex;
}
@media (min-width: 768px) {
  header .container nav .links {
    display: none;
  }
  header .container nav {
    padding: 0px;
  }
  header .container nav ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: transparent;
    position: relative;
  }
  header .container nav ul li a {
    padding: 35px 15px;
    position: relative;
    z-index: 2;
    transition: var(--transition);
  }
  header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
}
/* Header */
.landing .text {
  background-color: var(--transparent-color);
  width: 100%;
  color: white;
  padding: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing .text h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.5;
  margin: 0px;
}
.landing .text p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 0px;
}
.bolts {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bolts li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 10px;
}
.bolts li:nth-of-type(2) {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.bolts ~ i {
  display: none;
}
@media (min-width: 768px) {
  .landing .text {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .landing .text div {
    max-width: 500px;
  }
  .bolts ~ i {
    display: block;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .bolts + i {
    right: 30px;
  }
  i:last-of-type {
    left: 30px;
  }
}
/* end landing */
/* start services */
#services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
#services .container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
#services .container .card .text {
  text-align: center;
}
#services .container .card h4 {
  color: var(--main-color);
}
#services .container .card p {
  line-height: 1.8;
  color: var(--paragraph-color);
}
@media (min-width: 768px) {
  #services .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    row-gap: 50px;
    column-gap: 25px;
  }
  #services .container .card .text {
    text-align: left;
    margin-left: 50px;
  }
  #services .container .card {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  #services .container .card .text h4 {
    margin-top: 0px;
  }
}
/* end services */

/* start features */
.features {
  height: 80vh;
  background: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
    url('../static/design-features.jpg');
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.features .text {
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.features .text h4 {
  font-size: 25px;
  font-weight: normal;
  margin: 0px;
  margin-bottom: 50px;
}
.features .text ul li {
  position: relative;
  margin-left: 30px;
}
.features .text ul li:not(:last-of-type) {
  margin-bottom: 25px;
}
.features .text ul li::before {
  content: '\f11c';
  font-family: 'Font Awesome 6 Free';
  font-weight: 800;
  position: absolute;
  top: 0px;
  left: -30px;
}
.features img {
  display: none;
}
@media (min-width: 768px) {
  .features .text {
    width: 50%;
    right: 0;
  }
  .features img {
    display: block;
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    bottom: -80px;
  }
}
/* end features */

/* start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio ul {
  display: flex;
  margin: 0px auto 50px;
  width: fit-content;
}
.portfolio ul li {
  padding: 10px;
}
.portfolio ul li.active {
  color: white;
  background-color: var(--main-color);
}
.portfolio .image_container .box {
  position: relative;
  overflow: hidden;
}
.portfolio .image_container img {
  max-width: 100%;
  transition: var(--transition);
}
.portfolio .image_container .text {
  position: absolute;
  width: 100%;
  background-color: white;
  padding: 15px;
  transition: var(--transition);
  bottom: -100px;
}
.portfolio .image_container .text h4 {
  font-weight: normal;
  margin: 0px;
}
.portfolio .image_container .text p {
  color: var(--main-color);
  margin: 0px;
  margin-top: 10px;
}
.portfolio .image_container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
.portfolio .image_container .box:hover .text {
  bottom: 0px;
}
@media (min-width: 768px) {
  .portfolio .image_container {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio .image_container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1200px) {
  .portfolio .image_container .box {
    flex-basis: 25%;
  }
}
.portfolio a {
  text-decoration: none;
  color: white;
  background-color: var(--main-color);
  padding: 10px 20px;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  margin: 30px auto 0px;
  border-radius: 5px;
}
/* end portfolio */

/* start video */
.video {
  position: relative;
  background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%));
}
.video video {
  width: 100%;
  position: relative;
  z-index: -1;
}
.video .text {
  padding: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  text-align: center;
}
.video .text h4 {
  font-weight: normal;
  font-size: 25px;
  margin: 0px;
  color: white;
  line-height: 1.8;
}
.video .text p {
  margin: 30px 0px;
  color: white;
}
.video .text button {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}
/* end video */

/* start about */
.about {
  padding: var(--section-padding) 20px 0px;
  text-align: center;
  overflow: hidden;
}
.about img {
  position: relative;
  bottom: -60px;
  margin-top: -60px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .about img {
    bottom: -120px;
    margin-top: -120px;
  }
}
/* end about */

/* start status */
.status {
  padding: var(--section-padding) 20px;
  background: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
    url('../static/stats.png');
  background-size: cover;
}
.status .container {
  padding: 50px;
  background-color: var(--transparent-color);
  text-align: center;
}
.status .container .box:not(:last-of-type) {
  margin-bottom: 80px;
}
.status .container .box i {
  color: white;
  width: 40px;
  height: 40px;
  margin: 0px auto;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status .container .box p:first-of-type {
  font-size: 50px;
  font-weight: bold;
  margin: 20px 0px;
  color: white;
}
.status .container .box p:last-of-type {
  font-weight: 16px;
  margin: 0px;
  color: white;
}
@media (min-width: 768px) {
  .status .container .box:nth-child(3) {
    margin-bottom: 0px;
  }
  .status .container {
    display: flex;
    flex-wrap: wrap;
  }
  .status .container .box {
    flex-basis: 50%;
  }
}
/* Medium */
@media (min-width: 992px) {
  .status .container .box:not(:last-of-type) {
    margin-bottom: 0px;
  }
  .status .container .box {
    flex-basis: 25%;
  }
}
/* end status */

/* start skills */
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.skills .container h4 {
  font-weight: normal;
  width: fit-content;
  margin: 0px auto 30px;
  font-size: 20px;
}
.skills .container .test > p,
.skills .container .our_skills > p {
  color: var(--paragraph-color);
  line-height: 1.8;
  width: fit-content;
  text-align: center;
  margin: 0px auto 50px;
}
.skills .container .test img {
  display: block;
  width: 100px;
  border-radius: 50%;
  margin: 0px auto;
}
.skills .container .test .box p:first-of-type {
  text-align: center;
  line-height: 1.8;
}
.skills .container .test .box p:last-of-type {
  text-align: right;
  color: var(--paragraph-color);
}
.skills .container .test .box {
  margin-bottom: 50px;
}
.skills .container .test .box .text {
  border-bottom: 1px solid #ccc;
}
.skills .container .test > ul {
  display: flex;
  width: fit-content;
  margin: 0px auto 80px;
}
.skills .container .test > ul li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid #ccc;
}
.skills .container .test > ul li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our_skills .skill {
  margin-bottom: 40px;
}
.our_skills .skill p {
  text-transform: uppercase;
}
.our_skills .skill div {
  width: 100%;
  height: 30px;
  background-color: #dfdfdf;
}
.our_skills .skill div span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.our_skills .skill div span::after {
  content: attr(persent);
  position: absolute;
  width: 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  right: -25px;
  top: -40px;
  padding: 5px;
}
.our_skills .skill div span::before {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top-color: black;
  right: -10px;
  top: -15px;
}
@media (min-width: 768px) {
  .skills .container .test .box {
    display: flex;
    align-items: center;
  }
  .skills .container .test .box .text {
    margin-left: 50px;
  }
  .skills .container .test .box p:first-of-type {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .skills .container {
    display: flex;
    justify-content: space-between;
  }
  .skills .container .test,
  .skills .container .our_skills {
    flex-basis: 45%;
  }
}
/* end skills */

/* start qoute */
.qoute {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: linear-gradient(rgb(0 0 0 / 75%), rgb(0 0 0 / 75%)),
    url(../static/quote.jpg);
  background-size: cover;
  text-align: center;
  color: white;
}
.qoute .container q {
  display: block;
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 30px;
}
/* end qoute */

/* start pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  text-align: center;
}
.pricing .container .box p:first-of-type {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  border-top: 1px solid var(--main-color);
  padding-top: 40px;
  width: 100%;
}
.pricing .container .box p:last-of-type {
  font-size: 50px;
  font-weight: bold;
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 0px;
  width: 100%;
}
.pricing .container .box p:last-of-type::before {
  content: '$';
  position: absolute;
  font-size: 25px;
  font-weight: normal;
  top: -15px;
  margin-left: -25px;
}
.pricing .container .box p:last-of-type::after {
  content: '/Mo';
  position: absolute;
  font-size: 25px;
  font-weight: normal;
  bottom: 40px;
  margin-left: 15px;
}
.pricing .container .box ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .container .box ul li {
  padding: 20px;
  position: relative;
}
.pricing .container .box ul li:not(:last-of-type)::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 1px;
  background-color: var(--main-color);
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.pricing .container .box a {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  display: block;
  width: fit-content;
  margin: 30px auto 60px;
}
.pricing p {
  width: fit-content;
  margin: 30px auto;
  font-size: 20px;
}
.pricing > a {
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
}
/* end pricing */

/* start subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)),
    url(../static/subscribe.jpg);
  background-size: cover;
  color: white;
}
.subscribe form {
  position: relative;
  max-width: 500px;
  display: flex;
  align-items: center;
  margin: auto;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe input[type='text'] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 15px;
  padding-left: 50px;
  caret-color: var(--main-color);
  width: calc(100% - 120px);
}
.subscribe input[type='submit'] {
  background-color: var(--main-color);
  border: 1px solid white;
  border-left: none;
  color: white;
  padding: 15px;
  width: 120px;
  text-transform: uppercase;
}
.subscribe form i {
  position: absolute;
  left: 20px;
}
.subscribe input:focus {
  outline: none;
}
.subscribe p {
  line-height: 1.8;
  text-align: center;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .subscribe .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .subscribe form {
    flex-basis: 45%;
  }
  .subscribe p {
    flex-basis: 45%;
    text-align: left;
  }
}
/* end subscribe */
